In [42]:
import pandas as pd

In [43]:
player_totals = pd.read_csv('Data/Player Totals.csv')
award_shares = pd.read_csv('Data/Player Award Shares.csv')

In [44]:
player_totals

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,0.895,9.0,55.0,64.0,30,9.0,4.0,12.0,49,252
1,31137,2024,5026,A.J. Lawson,NaN,SG,23.0,2,NBA,DAL,...,0.652,14.0,36.0,50.0,20,10.0,3.0,14.0,22,136
2,31138,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,1.000,2.0,16.0,18.0,5,1.0,2.0,8.0,6,48
3,31139,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,0.658,174.0,297.0,471.0,259,56.0,45.0,105.0,142,1013
4,31140,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,0.921,23.0,100.0,123.0,140,42.0,6.0,53.0,125,514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,0.500,NaN,NaN,NaN,6,NaN,NaN,NaN,16,23
31866,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,0.511,NaN,NaN,NaN,16,NaN,NaN,NaN,59,85
31867,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,0.534,NaN,NaN,NaN,37,NaN,NaN,NaN,114,253
31868,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,0.477,NaN,NaN,NaN,1,NaN,NaN,NaN,25,61
31869,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,0.581,NaN,NaN,NaN,47,NaN,NaN,NaN,105,350

In [45]:
award_shares

,season,award,player,age,tm,first,pts_won,pts_max,share,winner,seas_id,player_id
0,2024,clutch_poy,Stephen Curry,35,GSW,45.0,298.0,495.0,0.602,True,31786,3903
1,2024,clutch_poy,DeMar DeRozan,34,CHI,34.0,272.0,495.0,0.549,False,31296,3872
2,2024,clutch_poy,Shai Gilgeous-Alexander,25,OKC,11.0,160.0,495.0,0.323,False,31769,4670
3,2024,clutch_poy,Nikola Jokić,28,DEN,4.0,85.0,495.0,0.172,False,31672,4352
4,2024,clutch_poy,Jalen Brunson,27,NYK,2.0,26.0,495.0,0.053,False,31429,4630
...,...,...,...,...,...,...,...,...,...,...,...,...
3371,1956,nba mvp,Mel Hutchins,27,FTW,9.0,9.0,80.0,0.113,False,1732,466
3372,1956,nba mvp,Dolph Schayes,27,SYR,2.0,2.0,80.0,0.025,False,1687,328
3373,1956,nba mvp,Bill Sharman,29,BOS,2.0,2.0,80.0,0.025,False,1652,419
3374,1956,nba mvp,Tom Gola,23,PHW,1.0,1.0,80.0,0.013,False,1748,607
3375,1956,nba mvp,Maurice Stokes,22,ROC,1.0,1.0,80.0,0.013,False,1729,602

In [46]:
award_shares = award_shares.pivot_table(index=['seas_id', 'player_id'], columns='award', values='share', aggfunc='sum', fill_value=0)

In [47]:
complete = player_totals.merge(award_shares, on=['player_id', 'seas_id'], how='outer', suffixes=('', '_drop'))

In [48]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,1,1947,1,Al Brightman,NaN,F,23.0,1,BAA,BOS,...,115,567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1947,2,Al Lujack,NaN,F,26.0,1,BAA,WSC,...,6,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1947,3,Al Negratti,NaN,F-C,25.0,1,BAA,WSC,...,20,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1947,4,Angelo Musi,NaN,G,28.0,1,BAA,PHW,...,120,562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,206,1948,4,Angelo Musi,NaN,G,29.0,2,BAA,PHW,...,56,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,31835,2024,5207,Tristan Vukcevic,NaN,C,20.0,1,NBA,WAS,...,28,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31866,31847,2024,5208,Vasilije Micić,NaN,PG,30.0,1,NBA,TOT,...,68,422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31867,31848,2024,5208,Vasilije Micić,NaN,PG,30.0,1,NBA,OKC,...,22,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31868,31849,2024,5208,Vasilije Micić,NaN,PG,30.0,1,NBA,CHO,...,46,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31869,31850,2024,5209,Victor Wembanyama,NaN,C,20.0,1,NBA,SAS,...,153,1522,0.0,0.0,0.0,0.495,0.0,0.0,1.0,0.0

In [49]:
# drop all columns that have the suffix '_drop'
complete = complete[[col for col in complete.columns if not col.endswith('_drop')]]

In [50]:
complete.columns

Index(['seas_id', 'season', 'player_id', 'player', 'birth_year', 'pos', 'age',
       'experience', 'lg', 'tm', 'g', 'gs', 'mp', 'fg', 'fga', 'fg_percent',
       'x3p', 'x3pa', 'x3p_percent', 'x2p', 'x2pa', 'x2p_percent',
       'e_fg_percent', 'ft', 'fta', 'ft_percent', 'orb', 'drb', 'trb', 'ast',
       'stl', 'blk', 'tov', 'pf', 'pts', 'aba mvp', 'aba roy', 'clutch_poy',
       'dpoy', 'mip', 'nba mvp', 'nba roy', 'smoy'],
      dtype='object')

In [51]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,1,1947,1,Al Brightman,NaN,F,23.0,1,BAA,BOS,...,115,567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1947,2,Al Lujack,NaN,F,26.0,1,BAA,WSC,...,6,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1947,3,Al Negratti,NaN,F-C,25.0,1,BAA,WSC,...,20,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1947,4,Angelo Musi,NaN,G,28.0,1,BAA,PHW,...,120,562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,206,1948,4,Angelo Musi,NaN,G,29.0,2,BAA,PHW,...,56,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,31835,2024,5207,Tristan Vukcevic,NaN,C,20.0,1,NBA,WAS,...,28,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31866,31847,2024,5208,Vasilije Micić,NaN,PG,30.0,1,NBA,TOT,...,68,422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31867,31848,2024,5208,Vasilije Micić,NaN,PG,30.0,1,NBA,OKC,...,22,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31868,31849,2024,5208,Vasilije Micić,NaN,PG,30.0,1,NBA,CHO,...,46,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31869,31850,2024,5209,Victor Wembanyama,NaN,C,20.0,1,NBA,SAS,...,153,1522,0.0,0.0,0.0,0.495,0.0,0.0,1.0,0.0

In [53]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,1,1947,1,Al Brightman,NaN,F,23.0,1,BAA,BOS,...,115,567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1947,2,Al Lujack,NaN,F,26.0,1,BAA,WSC,...,6,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1947,3,Al Negratti,NaN,F-C,25.0,1,BAA,WSC,...,20,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1947,4,Angelo Musi,NaN,G,28.0,1,BAA,PHW,...,120,562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,206,1948,4,Angelo Musi,NaN,G,29.0,2,BAA,PHW,...,56,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,31835,2024,5207,Tristan Vukcevic,NaN,C,20.0,1,NBA,WAS,...,28,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31866,31847,2024,5208,Vasilije Micić,NaN,PG,30.0,1,NBA,TOT,...,68,422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31867,31848,2024,5208,Vasilije Micić,NaN,PG,30.0,1,NBA,OKC,...,22,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31868,31849,2024,5208,Vasilije Micić,NaN,PG,30.0,1,NBA,CHO,...,46,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31869,31850,2024,5209,Victor Wembanyama,NaN,C,20.0,1,NBA,SAS,...,153,1522,0.0,0.0,0.0,0.495,0.0,0.0,1.0,0.0

In [54]:
#replace all NaN values with 0
complete = complete.fillna(0)

In [55]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,1,1947,1,Al Brightman,0.0,F,23.0,1,BAA,BOS,...,115,567,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
1,2,1947,2,Al Lujack,0.0,F,26.0,1,BAA,WSC,...,6,4,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
2,3,1947,3,Al Negratti,0.0,F-C,25.0,1,BAA,WSC,...,20,31,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
3,4,1947,4,Angelo Musi,0.0,G,28.0,1,BAA,PHW,...,120,562,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
4,206,1948,4,Angelo Musi,0.0,G,29.0,2,BAA,PHW,...,56,319,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,31835,2024,5207,Tristan Vukcevic,0.0,C,20.0,1,NBA,WAS,...,28,85,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
31866,31847,2024,5208,Vasilije Micić,0.0,PG,30.0,1,NBA,TOT,...,68,422,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
31867,31848,2024,5208,Vasilije Micić,0.0,PG,30.0,1,NBA,OKC,...,22,99,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
31868,31849,2024,5208,Vasilije Micić,0.0,PG,30.0,1,NBA,CHO,...,46,323,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
31869,31850,2024,5209,Victor Wembanyama,0.0,C,20.0,1,NBA,SAS,...,153,1522,0.0,0.0,0.0,0.495,0.0,0.0,1.0,0.0

In [56]:
#restrict data to 2004 and later
complete = complete[complete['season'] >= 2004]

In [57]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
11833,19038,2004,2187,Kevin Willis,0.0,C,41.0,19,NBA,SAS,...,61,164,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
11834,19635,2005,2187,Kevin Willis,0.0,C,42.0,20,NBA,ATL,...,53,87,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
11835,20745,2007,2187,Kevin Willis,0.0,PF,44.0,21,NBA,DAL,...,11,12,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
12167,18814,2004,2230,Charles Oakley,0.0,PF,40.0,19,NBA,HOU,...,8,9,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
12336,19019,2004,2252,Karl Malone,0.0,PF,40.0,19,NBA,LAL,...,116,554,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,31835,2024,5207,Tristan Vukcevic,0.0,C,20.0,1,NBA,WAS,...,28,85,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
31866,31847,2024,5208,Vasilije Micić,0.0,PG,30.0,1,NBA,TOT,...,68,422,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
31867,31848,2024,5208,Vasilije Micić,0.0,PG,30.0,1,NBA,OKC,...,22,99,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
31868,31849,2024,5208,Vasilije Micić,0.0,PG,30.0,1,NBA,CHO,...,46,323,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
31869,31850,2024,5209,Victor Wembanyama,0.0,C,20.0,1,NBA,SAS,...,153,1522,0.0,0.0,0.0,0.495,0.0,0.0,1.0,0.0

In [58]:
complete.to_csv('base.csv', index=False)